a-fav

<div>
  <h2>Vos Favoris</h2>
  <div id="wishlist-container" class="grid grid-cols-2 md:grid-cols-4 gap-6">
    <!-- Les produits favoris seront affichés ici -->
  </div>
</div>


{% schema %}
    {
      "name": "a-fav"
    }
{% endschema %}