<section class="bg-revenge3">
  <img src="{{ section.settings.image}}" class="w-[100vw] md:h-[300px] md:object-top object-cover" width="" height="">
  <div>
    <div class="md:px-[30px] py-[24px] md:py-[72px]">
      <div class="space-y-2 md:space-y-12 text-center">
        <h4 class="a-h4 text-revenge2">{{ section.settings.description }}</h4>
        <h2 class="a-h2 text-revenge2">{{ section.settings.titre }}</h2>
      </div>
    </div>
    <div class="flex flex-wrap bg-revenge4">
      {% for i in (1..8) %}
        {% assign key = "product_" | append: i %}
        {% assign product_handle = section.settings[key] %}
        {% if product_handle != blank %}
          {% assign product = all_products[product_handle] %}
          {% render 'a-card-product' product: product %}  
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% schema %}
    {
      "name": "a-featured-product",
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": "URL Image"
        },
        {
          "type": "text",
          "id": "titre",
          "label": "Titre"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Produit 1"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Produit 2"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Produit 3"
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Produit 4"
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Produit 5"
        },
        {
          "type": "product",
          "id": "product_6",
          "label": "Produit 6"
        },
        {
          "type": "product",
          "id": "product_7",
          "label": "Produit 7"
        },
        {
          "type": "product",
          "id": "product_8",
          "label": "Produit 8"
        }
  ]
    }
{% endschema %}