<section
  id="favorites-drawer-section"
  class="z-30 shadow-[0_0_6px_rgba(0,0,0,0.4)] p-4 bg-revenge3 translate-x-full fixed top-[120px] right-0 h-[75vh] w-[90vw] md:w-[350px] transform transition-transform duration-300 ease-in-out"
>
  <div id="favorites-drawer" class="flex flex-col h-full">
    <div class="flex justify-between items-start mb-8">
      <div class="flex flex-col justify-between h-[60px]">
        <h3 class="a-h3">Mes Favoris</h3>
        <h4 class="a-h4 md:text-[2rem]">Vous avez <span class="font-[ZenKakuGothicNew-Bold]"><span class="favorites-count">0</span> article(s)</span> en favoris</h4>
      </div>
      <button id="close-favorites-drawer" class="text-xl font-bold">
        <span class="svg-wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 17">
            <path
            fill="currentColor"
            d="M.865 15.978a.5.5 0 0 0 .707.707l7.433-7.431 7.579 7.282a.501.501 0 0 0 .846-.37.5.5 0 0 0-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 1 0-.707-.708L8.991 7.853 1.413.573a.5.5 0 1 0-.693.72l7.563 7.268z"
            ></path>
          </svg>
        </span>
      </button>
    </div>
    <div id="favorites_items_container" class="overflow-y-auto w-[100%] flex-grow p-4">
      <!-- Favorite items will be dynamically inserted here -->
    </div>
  </div>
</section>

<script src="{{ 'a-wishlist.js' | asset_url }}" defer="defer"></script>
